@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack: 'Montserrat', sans-serif;

// Reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Main Styling
html,
body {
	font-family: $font-stack;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	padding-bottom: 50px;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.9em;
}

a {
	text-decoration: none;
}

hr {
	width: 50%;
	margin: 0 auto;
}

// Utility Classes
.container {
	margin: auto;
	max-width: 1300px;
	overflow: auto;
	padding: 0 20px;
}

.txt-large {
	font-size: 18px;
}

.txt-black {
	font-weight: 700;
}

.display-1 {
	font-size: 6rem;
}

.btn {
	display: inline-block;
	text-align: center;
	font-size: 15px;
	padding: 12px 23px;
	font-weight: bold;
	letter-spacing: 1px;
	&-black {
		background: #000;
		color: #fff;
		border: none;
	}
} //End .btn

// Nav
#navbar {
	height: 15vh;
	overflow: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	a {
		color: #000;
		font-weight: 500;
	}
	.logo {
		font-size: 1.5rem;
		text-transform: uppercase;
	}
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	ul {
		display: flex;
		list-style: none;
		li {
			margin-left: 40px;
		}
		.btn-menu {
			background-color: #000;
			color: #fff;
			padding: 20px 18px;
		}
	}
} //End #navbar

// Showcase
#showcase {
	height: 85vh;
	.showcase-flex {
		display: flex;
		&-description {
			flex: 1;
			padding: 90px 0;
			.btn {
				margin: 20px 0;
			}
			ul {
				display: flex;
				list-style: none;
				img {
					height: 70px;
				}
			}
		}
		&-image {
			flex: 1;
			img {
				width: 80%;
				float: right;
			}
		}
	}
} //End #showcase

// Games
#games {
	padding: 80px 0;
	.txt-large {
		text-align: center;
		padding: 40px 50px;
	}
	.games-flex {
		display: flex;
		justify-content: center;
		img {
			width: 100%;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		&-box {
			width: 200px;
			margin: 20px;
			p {
				text-align: center;
			}
		}
	}
} //End #games

// Group
#group {
	padding: 80px 0;
	.group-table {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		width: 650px;
		padding: 50px 20px;
		margin: 0 auto;
		table {
			tr td {
				color: #c4c4c4;
				padding: 20px;
			}
			.group-table-country {
				color: #000;
			}
		}
	}
} //End #group

// About
#about {
	padding: 80px 0;
	.about-flex {
		display: flex;
		gap: 40px;
		&-image {
			flex: 1;
			img {
				width: 100%;
			}
		}
		&-description {
			flex: 1;
		}
	}
} //End #about

// Qatar
#qatar {
	padding: 80px 0;
	text-align: center;
}

// Footer
#mainfooter {
	text-align: center;
	padding: 30px;
}

@import 'mobile';
